{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stego Case Study</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'assets\svg\portfolio-icon.svg' %}">
    <meta name="description" content="Case study page of Project" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="{% static 'assets/png/dinesh.png' %}"
              alt="Ram Maheshwari Logo Image"
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">Dinesh Vennapoosa</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="{% url 'Home Section' %}" class="header__link"> Home </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'Home Section' %}#about" class="header__link">About </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'Home Section' %}#projects" class="header__link">
                Projects
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'Home Section' %}#publications" class="header__link">
                Publications
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="{% url 'Home Section' %}#contact" class="header__link"> Contact </a>
            </li>
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="{% static 'assets/svg/ham-menu.svg' %}"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="{% static 'assets/svg/ham-menu-close.svg' %}"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            <li class="header__sm-menu-link">
              <a href="{% url 'Home Section' %}"> Home </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="{% url 'Home Section' %}#about"> About </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="{% url 'Home Section' %}#projects"> Projects </a>
            </li>
            
            <li class="header__sm-menu-link">
              <a href="{% url 'Home Section' %}#publications"> Publications </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="{% url 'Home Section' %}#contact"> Contact </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="project-cs-hero">
      <div class="project-cs-hero__content">
        <h1 class="heading-primary">Image Steganography using Deep Learning</h1>
        <div class="project-cs-hero__info">
          <p class="text-primary">
            Elevate data security to new heights with our innovative Image Steganography model, 
            a deep learning solution crafted to outsmart deepfake technologies. By mastering the art of concealment, 
            our project stands as a bulwark of digital privacy, proving its prowess with unmatched SSIM scores.
          </p>
        </div>
        <div class="project-cs-hero__cta">
          <a href="https://github.com/Dini-49149/Image_steganography_DL" class="btn btn--bg" target="_blank">Github Link</a>
        </div>
      </div>
    </section>
    <section class="project-details">
      <div class="main-container">
        <div class="project-details__content">
          <div class="project-details__showcase-img-cont">
            <img
              src="{% static 'assets\png\stego_img.png' %}"
              alt="Project Image"
              class="project-details__showcase-img"
            />
          </div>
          <div class="project-details__content-main">
            <div class="project-details__desc">
              <h3 class="project-details__content-title">Project Overview</h3>
              <p class="project-details__desc-para">
                Imagine you have a secret message and you want to hide it so that no one else can see it, except the person you want to share it with. That's what my project, "Image Steganography using Deep Learning," is all about—like a digital game of hide and seek with messages!
              </p>
              <p class="project-details__desc-para">
                What I did was create a special computer program that can take a message and tuck it away inside a picture without changing how the picture looks. It's like writing a note, folding it super small, and hiding it inside a drawing—except that I used computers to do it!
              </p>
              <p class="project-details__desc-para">
                This way, the message stays hidden and safe from people who might be snooping around for information. Even if someone gets the picture, they won't know there's a secret hidden inside unless they know exactly how to look for it.
              </p>
              <p class="project-details__desc-para">
                Just like magicians have special tricks, I used some computer magic called "deep learning" to make this possible. It's a smart way to help computers think and learn, so they can find the best places in the picture to hide the message.
              </p>
              <p class="project-details__desc-para">
              In the end, the picture with the hidden message can travel across the internet, and only the person who knows the secret can find the message again. It's a fun and smart way to keep our messages private, like our own secret club!
              </p>
            </div>
            <div class="project-details__tools-used">
              <h3 class="project-details__content-title">Tools Used</h3>
              <div class="skills">
                <div class="skills__skill">Python</div>
                <div class="skills__skill">TensorFlow</div>
                <div class="skills__skill">Keras</div>
                <div class="skills__skill">OpenCV</div>
                <div class="skills__skill">NumPy</div>
                <div class="skills__skill">Pandas</div>
                <div class="skills__skill">Matplotlib</div>
                <div class="skills__skill">Scikit-learn</div>
                <div class="skills__skill">Git</div>
                <div class="skills__skill">Jupyter</div>
              </div>
              
            </div>
            <div class="project-details__links">
              <h3 class="project-details__content-title">View Source Code</h3>
              <!-- <a
                href="#"
                class="btn btn--med btn--theme project-details__links-btn"
                target="_blank"
                >Live Link</a
              > -->
              <a
                href="https://github.com/Dini-49149/Image_steganography_DL"
                class="btn btn--med btn--theme-inv project-details__links-btn"
                target="_blank"
                >Code Link</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Social</span>
            </h2>
            <div class="main-footer__social-cont">
              <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/dinesh-reddy-baa06813a/">
                <img
                  class="main-footer__icon"
                  src="{% static 'assets/png/linkedin-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="https://github.com/Dini-49149/">
                <img
                  class="main-footer__icon"
                  src="{% static 'assets/png/github-ico.png' %}"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="https://www.instagram.com/dineshreddy56235/">
                <img
                  class="main-footer__icon main-footer__icon--mr-none"
                  src="{% static 'assets/png/insta-ico.png' %}"
                  alt="icon"
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Dinesh Vennapoosa</h4>
            <p class="main-footer__short-desc">
              Connect with me on social media for insights, updates, and the latest in data science. Let's drive innovation together.
            </p>
          </div>
        </div>
        <div class="main-footer__lower">
          &copy; Copyright 2021. Made by
          <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
            >Ram Maheshwari</a
          >
        </div>
      </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
