option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: portfolio.settings
    PYTHONPATH: $PYTHONPATH
  aws:elasticbeanstalk:container:python:
    WSGIPath: portfolio.wsgi:application

  # Static files alias
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: "staticfiles/"
