option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "portfolio.wsgi:application"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "portfolio.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

# If you're using Amazon Linux 2, you might need to replace the namespace below
# with aws:elasticbeanstalk:environment:proxy:staticfiles if you're using a reverse proxy
# like Nginx or aws:elasticbeanstalk:environment:proxy:application if you're using Apache.
aws:elasticbeanstalk:environment:proxy:staticfiles:
  /static: "static/"

