option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "portfolio.wsgi:application"
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "portfolio.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /css: static/style
    /js: static/script
    /assets/png: static/assets/png
    /assets/jpeg: static/assets/jpeg
    /assets/svg: static/assets/svg
